* {
	margin: 0;
	padding: 0;
	font-family: Quicksand;
}

.html{
    font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container2{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: relative;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 300;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}
body {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #d457e3;
}

.price {
	position: absolute;
	top: 1em;
	right: 1em;
	backdrop-filter: blur(8px);
	background-color: rgba(0, 0, 0, 0.112);
	box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
	border: 0px rgba(255, 255, 255, 0.4) solid;
	border-bottom: 0px rgba(40, 40, 40, 0.35) solid;
	border-right: 0px rgba(40, 40, 40, 0.35) solid;
	padding: 5px 10px;
	font-size: 0.8em;
	border-radius: 4px;
}

.container {
	position: relative;
	padding: 0 20px;
}
.container .card {
	position: relative;
	width: 320px;
	height: 450px;
	border-radius: 20px;
	background: linear-gradient(315deg, #f0ff02, #e400ff);
	box-shadow: -20px -20px 25px #0e0e0e, 20px 20px 25px #dddddd;
	overflow: hidden;
    gap: 3%;
}
.container .card:before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #9bdc28;
	clip-path: circle(150px at 80% 20%);
	transition: 0.5s ease-in-out;
}
.container .asics:before {
	background: #ebff6a;
}
.container .adidas:before {
	background: #87ff89;
}
.container .new-balance:before {
	background: #00fbff;
}
.container .card:hover:before {
	clip-path: circle(300px at 80% -20%);
}
.container .card:after {
	content: "";
	position: absolute;
	top: 30%;
	left: -20%;
	font-size: 12em;
	font-weight: 800;
	font-style: italic;
	color: rgba(255, 255, 255, 0.04);
}
.container .asics:after {
	content: "Asics";
}
.container .adidas:after {
	content: "Adidas";
}
.container .new-balance:after {
	content: "new-balance";
}
.container .card .imgBx {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 200;
	width: 100%;
	height: 220px;
	transition: 0.5s ease-in-out;
}
.container .card:hover .imgBx {
	top: 0%;
	transform: translateY(0%);
}
.container .card .imgBx img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-25deg);
	width: 270px;
}
.container .card .contentBx {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	text-align: center;
	transition: 1s;
	z-index: 10;
}
.container .card:hover .contentBx {
	height: 210px;
}
.container .card .contentBx h2 {
	position: relative;
	font-weight: 600;
	letter-spacing: 1px;
	color: #600505;
}
/* Shoe Size */
.container .card .contentBx .size,
.container .card .contentBx .color {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 20px;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
}
.container .card:hover .contentBx .size {
	opacity: 1;
	visibility: visible;
	translate-delay: 0.5s;
}
.container .card:hover .contentBx .color {
	opacity: 1;
	visibility: visible;
	translate-delay: 0.6s;
}
.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
	color: #fff;
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-right: 10px;
}
.container .card .contentBx .size span {
	width: 26px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	font-size: 14px;
	display: inline-block;
	color: #111;
	background: #fff;
	margin: 0 5px;
	transition: 0.5s;
	border-radius: 4px;
	cursor: pointer;
}
.container .asics .contentBx .size span:hover {
	background: #155eb4;
}
.container .adidas .contentBx .size span:hover {
	background: #99243a;
}
.container .new-balance .contentBx .size span:hover {
	background: #8a8576;
}

/* Shoe color */
.container .card .contentBx .color span {
	width: 20px;
	height: 20px;
	background: #ff0;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
}
.container .card .contentBx .color span:nth-child(2) {
	background: #155eb4;
}
.container .card .contentBx .color span:nth-child(3) {
	background: red;
}
.container .card .contentBx .color span:nth-child(4) {
	background: black;
}

/* Button/ */
.container .card .contentBx button {
	display: inline-block;
	padding: 10px 20px;
	background: #fff;
	border-radius: 4px;
	margin-top: 10px;
	text-decoration: none;
	font-weight: 600;
	color: #111;
	opacity: 0;
	transform: translateY(50px);
	transition: 0.5s;
	border: none;
}
.container .card:hover .contentBx button {
	opacity: 1;
	transform: translateY(0px);
	transform-delay: 0.75s;
	cursor: pointer;
}

.info {
	position: absolute;
	top: 1em;
	left: 1em;
	color: #fff;
	cursor: pointer;
	z-index: 300;
}

.text {
	display: none;
	color: #fff;
	padding: 2em;
	z-index: 299;
	position: relative;
	backdrop-filter: blur(20px);
	background-color: rgba(0, 0, 0, 0.2);
	height: 100%;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.info:hover + .text {
	display: block;
}
@media (max-width: 600px) {
    .container .card {
        width: 229px;
        height: 350px;
        margin-top: 27%;

    }
}